
    <td>{{supervillano.nombre}}</td>
    <td>{{supervillano.descripcion}}</td>
    <td>{{supervillano.inteligencia}}</td>
    <td>{{supervillano.fuerza}}</td>
    <td>{{supervillano.velocidad}}</td>
    <td>{{supervillano.durabilidad}}</td>
    <td>{{supervillano.poder}}</td>
    <td>{{supervillano.combate}}</td>
    <td>
        <button class = "btn btn-danger boton-villano" (click)="eliminarSupervillano()"> Eliminar </button>
        <button class = "btn btn-warning boton-villano" (click)="verImagenSupervillano()"> Ver imagen</button>
    </td>