<button class="boton btn btn-primary" (click)="mostrarHeroes = !mostrarHeroes">Ver / Ocultar superheroes. Ejemplo
    if</button>
<div class="boton dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Tipo de héroe. Ejemplo switch
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="filtrarHeroes('Todos')">Todos</a></li>
        <li><a class="dropdown-item" (click)="filtrarHeroes('Programador')">Programador</a></li>
        <li><a class="dropdown-item" (click)="filtrarHeroes('QA')">QA</a></li>
        <li><a class="dropdown-item" (click)="filtrarHeroes('Negocio')">Negocio</a></li>
        <li><a class="dropdown-item" (click)="filtrarHeroes('Sistemas')">Sistemas</a></li>
    </ul>
</div>

@switch(tipoFiltrado){
@case ('Todos'){
@defer(on timer (3000)){
<h3 class="texto-filtrado">Mostrando superheroes de todos los tipos</h3>
}@placeholder{
<h3 class="texto-filtrado">Cargando titulo...</h3>
}
}
@case ('Programador'){
<h3 class="texto-filtrado">Mostrando superheroes de tipo Programador</h3>
}
@case ('QA'){
<h3 class="texto-filtrado">Mostrando superheroes de tipo QA</h3>
}
@case ('Negocio'){
<h3 class="texto-filtrado">Mostrando superheroes de tipo Negocio</h3>
}
@case ('Sistemas'){
<h3 class="texto-filtrado">Mostrando superheroes de tipo Sistemas</h3>
}
@default{
<h3 class="texto-filtrado">Selecciona un tipo de héroe para mostrar</h3>
}
}

<!-- Ejemplo de directivas con anotaciones antiguas ngFor y ngIf -->

<!-- <div class="contenedor-heroes" *ngIf="mostrarHeroes">
    <div class="card heroe-card" style="width: 18rem;" *ngFor="let heroe of heroesFiltrados">
        <img [src]="heroe.imagen" class="card-img-top" alt="{{ heroe.nombre }}">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.descripcion }}</p>
        </div>
    </div>
</div> -->

@if(mostrarHeroes){
<div class="contenedor-heroes">
    @for(heroe of heroesFiltrados; track heroe.id){
    <app-superheroe [heroe]="heroe" [edicionHabilitada]="edicionHabilitada" (expulsar)="expulsarHeroe($event)"
        (modalEditar)="modalEditarHeroe($event)"></app-superheroe>
    }
</div>
}

<!-- Modal Editar Heroe -->
<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Heroe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" [(ngModel)]="heroeEditado.nombre" name="nombre" class="form-control">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" [(ngModel)]="heroeEditado.descripcion" name="descripcion"
                        class="form-control"></textarea>
                    <label for="imagen">Imagen:</label>
                    <input type="text" id="imagen" [(ngModel)]="heroeEditado.imagen" name="imagen" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="editarHeroe(heroeEditado)"
                    data-bs-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>